.botao {
    background-color: var(--azul-botao);
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 3.2rem;
    border: none;
    cursor: pointer;
    color: var(--branco);
    margin-top: 4rem;
    text-shadow: -1px -1px 0 #2e2e2e, 1px -1px 0 #2e2e2e, -1px 1px 0 #2e2e2e,
        1px 1px 0 #2e2e2e;
}

.botao:hover {
    background-color: var(--azul-botao-hover);
    color: var(--cor-texto-botao-hover);
}
